@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: roboto, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}
.first-section {
    background-color: #1f2937;
    padding-left: 200px;
    padding-right: 200px;
    height: 550px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-top: 15px;
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 600;
}

.header-links {
    display: flex;
    gap: 20px;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #adadad;
}

ul {
    list-style: none;
    padding: 0;
    margin:0;
}

.hero {
    justify-content: space-between;
}

.hero-title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FaF8
}

.hero-text {
    font-size: 18px;
    color: #adadad;

}

.sign-up {
    background-color: #3882f6;
    color: #F9FaF8
}

.hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6c747d;
    width: 500px;
    height: 250px;
}

.hero-image-text {
    color: #F9FaF8
}