@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@ 100; 200; 400; 700; 900 &display=swap');

body {
    font-family: roboto, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 15px;
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 600;
}

.header-links {
    display: flex;
    gap: 20px;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #adadad;
}

ul {
    list-style: none;
    padding: 0;
    margin:0;
}

.first-section {
    background-color: #1f2937;
    padding-left: 200px;
    padding-right: 200px;
    height: 500px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.hero {
    display: flex;
    gap: 30px;
}

.hero-title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FaF8
}

.hero-text {
    font-size: 18px;
    font-weight: 400;
    color: #adadad;

}

.sign-up {
    background-color: #3882f6;
    padding: 5px 25px;
    color: #F9FaF8;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
}

.hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6c747d;
    width: 850px;
    height: 250px;
}

.hero-image-text {
    color: #F9FaF8
}

.info-section {
    background-color: #FFFFFF;
    padding-left: 200px;
    padding-right: 200px;
    height: 500px;
}

.info-container {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.info-title {
    font-size: 36px;
    color: #1f2937;
    font-weight: 700;
    text-align: center;
    margin: 50px 0px;
}

.info-box {
    width: 160px;
    height: 160px;
    border: 4px solid #3882f6;
    border-radius: 20px;
    margin-bottom: 10px;
}

.info-box-text {
    font-size: 18px;
    font-weight: 400;
    color: #6c747d;
    text-align: center;
    width: 168px;
    border: 0px;
    display: flex;
}

.quote-section {
    background-color: #E5E7EB;
    padding-left: 350px;
    padding-right: 350px;
    height: 430px;
    display: flex;
    justify-content: center;
    Align-items: center;
    flex-direction: column;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
    color: #1F2937;
    margin: 0;
    border: 0;
    padding: 0;
}

.quote-attribution {
    align-self: flex-end;
    font-weight: 700;
    font-size: 24px;
    margin-right: 20px;
    margin-top: 0px;
}

.cta-section {
    height: 350px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-box {
    background-color: #3882f6;
    width: 1024px;
    height: 150px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
}

.cta-title {
    font-size: 24px;
    color: white;
    font-weight: 700;
    margin: 0px;

}

.cta-subtext {
    color: #d0dbec;
    margin: 0;
}

.sign-up-2 {
    background-color: #3882f6;
    padding: 5px 25px;
    color: #F9FaF8;
    font-size: 18px;
    font-weight: 600;
    border: 2px solid white;
    border-radius: 8px;
}

.footer {
    height: 100px;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.footer-text {
    color: #d0dbec;
    font-size: 18px;
}